<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false">
<form clrForm >
  <clr-input-container>
    <label>Rola użytkownika</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>
  <h5 style="text-align: center">Formularz dodawania nowych praktykantów</h5>


  <clr-input-container>
    <label>Wybierz uczelnię</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Wybierz wydział</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Wybierz kierunek</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Wybierz rok</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Wybierz uczelnię</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>


  <h4 style="text-align: center">Formularz dla opiekunów praktyk</h4>

  <clr-input-container>
    <label>Wybierz uczelnię</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>

</form>
</clr-modal>
