<clr-modal [(clrModalOpen)]="displayDialog" [clrModalStaticBackdrop]="false" [clrModalSize]="'m'"
           [clrModalClosable]="false">
  <h3 class="modal-title" style="text-align: center!important;">{{dialogTitle}}</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="collegeForm" id="activationKeyForm">
      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>
              <clr-icon shape="key"></clr-icon>
            </label>
            <input [size]="35" clrInput type="text" formControlName="token"
                   placeholder="{{'registration.tokenLabel' | translate}}"/>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label><clr-icon shape="accessibility-2"></clr-icon></label>
            <input type="text" clrInput formControlName="numberOfUses"/>
            <clr-control-error>We need your first name for legal compliance</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-select-container>
            <label>
              <clr-icon shape="building"></clr-icon>
            </label>
            <select clrSelect id="select-level" class="clr-select" formControlName="collegeId">
              <option *ngFor="let college of availableColleges"
                      [value]="college.id">{{college.name}}</option>
            </select>
            <clr-icon *ngIf="collegeForm.get('collegeId').value == null"
                      class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </clr-select-container>
        </div>
        <div class="clr-col-2"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      <button [clrLoading]="validateBtnState" type="submit" form="activationKeyForm"
              class="btn btn-primary" [disabled]="collegeForm.invalid"
              (click)="onSubmit()">
        {{'add-edit-dialog.save' | translate}}</button>
      <button class="btn btn-secondary-outline"
              (click)="displayDialog = false">{{'add-edit-dialog.cancel' | translate}} </button>
    </div>
  </div>
</clr-modal>
