<clr-main-container *ngIf="isLoggedIn">
  <div class="content-container">
    <nav class="sidenav" *ngIf="!planner" [clr-nav-level]="1">
      <section class="sidenav-content">
        <a routerLink="/app/home" class="nav-link">
          <clr-icon shape="home"></clr-icon>
          {{'navBar.home' | translate}}
        </a>
        <!--        <section class="nav-group collapsible">-->
        <!--          <input id="tabexample1" type="checkbox">-->
        <!--          <label for="tabexample1">{{'navBar.planner.label' | translate}}</label>-->
        <!--          <ul class="nav-list">-->
        <!--            <li>-->
        <!--              <a class="nav-link" routerLink="/app/planner/activitiesList">-->
        <!--                <clr-icon shape="view-list"></clr-icon>-->
        <!--                {{'navBar.planner.myActivitiesList' | translate}}-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a class="nav-link" routerLink="/app/planner/workHours">-->
        <!--                <clr-icon shape="clock"></clr-icon>-->
        <!--                {{'navBar.planner.workSchedules' | translate}}-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a class="nav-link" routerLink="/app/planner/activitiesCalendar">-->
        <!--                <clr-icon shape="calendar"></clr-icon>-->
        <!--                {{'navBar.planner.myActivitiesCalendar' | translate}}-->
        <!--              </a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a class="nav-link" routerLink="/app/planner/locations">-->
        <!--                <clr-icon shape="building"></clr-icon>-->
        <!--                {{'navBar.planner.locations' | translate}}-->
        <!--              </a>-->
        <!--            </li>-->

        <!--            <li>-->
        <!--              <a class="nav-link" routerLink="/app/planner/settings">-->
        <!--                <clr-icon shape="clock"></clr-icon>-->
        <!--                {{'navBar.planner.settings' | translate}}-->
        <!--              </a>-->
        <!--            </li>-->
        <!--          </ul>-->
        <!--        </section>-->


        <a routerLink="/app/home" class="nav-link" *ngIf="isSuperAdmin" style="color: red">
          Administrator systemu
        </a>
        <a routerLink="/app/activation-keys" class="nav-link" *ngIf="isSuperAdmin">
          <clr-icon shape="key" class="is-solid"></clr-icon>
          {{'navBar.activationKeys' | translate}}
        </a>
        <a routerLink="/app/colleges" class="nav-link" *ngIf="isSuperAdmin">
          <clr-icon shape="building" class="is-solid"></clr-icon>
          {{'navBar.colleges' | translate}}
        </a>
        <a routerLink="/app/companies" class="nav-link" *ngIf="isSuperAdmin">
          <clr-icon shape="store" class="is-solid"></clr-icon>
          {{'navBar.companies' | translate}}
        </a>
        <a routerLink="/app/users" class="nav-link" *ngIf="isSuperAdmin">
          <clr-icon shape="users" class="is-solid"></clr-icon>
          {{'navBar.allUsers' | translate}}
        </a>






        <div class="nav-divider"></div>
        <a routerLink="/app/home" class="nav-link" id="adminRole" *ngIf="isAdmin" style="color: red">
          Administrator uczelni
        </a>
        <!--Administrator uczelni-->
        <a routerLink="/app/requests" class="nav-link" *ngIf="isAdmin">
          <clr-icon shape="arrow"></clr-icon>
          <b>Wnioski o praktyki</b>
        </a>
        <a routerLink="/app/directions" class="nav-link" *ngIf="isAdmin">
          <clr-icon shape="two-way-arrows" class="is-solid"></clr-icon>
          Kierunki studiów
        </a>
        <a routerLink="/app/activation-keys" class="nav-link" *ngIf="isAdmin">
          <clr-icon shape="key" class="is-solid"></clr-icon>
          {{'navBar.activationKeys'| translate}}
        </a>
        <a routerLink="/app/college-structure" class="nav-link" *ngIf="isAdmin">
          <clr-icon shape="building"></clr-icon>
          Struktura uczelni
        </a>
        <section class="nav-group collapsible" *ngIf="isAdmin">
          <input id="dropdown2" type="checkbox">
          <label for="dropdown2">
            <clr-icon shape="users" class="is-solid"></clr-icon>{{'navBar.users' | translate}}
          </label>
          <ul class="nav-list">
            <li>
              <a routerLink="/app/users" class="nav-link" *ngIf="isAdmin">
                {{'navBar.allUsers' | translate}}</a>
            </li>
            <li>
              <a routerLink="/app/interns" class="nav-link" *ngIf="isAdmin">
                Lista praktykantów</a>
            </li>
          </ul>
        </section>
        <a routerLink="/app/companies" class="nav-link" *ngIf="isAdmin">
          <clr-icon shape="store" class="is-solid"></clr-icon>
          Lista firm
        </a>
        <a routerLink="/app/documents" class="nav-link" *ngIf="isAdmin">
          <clr-icon shape="clipboard"></clr-icon>
          Dokumenty
        </a>
        <a routerLink="/app/forms" class="nav-link" *ngIf="isAdmin">
          <clr-icon shape="form"></clr-icon>
          {{'navBar.surveys' | translate}}
        </a>
        <a routerLink="/app/statistics" class="nav-link" *ngIf="isAdmin">
          <clr-icon shape="line-chart"></clr-icon>
          Statystyki
        </a>

        <!--Dyrektor instytutu-->
        <a routerLink="/app/requests" class="nav-link" *ngIf="isDirector">
          <clr-icon shape="arrow"></clr-icon>
          <b>Wnioski o praktyki</b>
        </a>
        <a routerLink="/app/directions" class="nav-link" *ngIf="isDirector">
          <clr-icon shape="two-way-arrows" class="is-solid"></clr-icon>
          Kierunki studiów
        </a>
        <a routerLink="/app/activation-keys" class="nav-link" *ngIf="isDirector">
          <clr-icon shape="key" class="is-solid"></clr-icon>
          {{'navBar.activationKeys'| translate}}
        </a>
        <a routerLink="/app/college-structure" class="nav-link" *ngIf="isDirector">
          <clr-icon shape="building"></clr-icon>
          Struktura uczelni
        </a>
        <section class="nav-group collapsible" *ngIf="isDirector">
          <input id="dropdown5" type="checkbox">
          <label for="dropdown5">
            <clr-icon shape="users" class="is-solid"></clr-icon>{{'navBar.users' | translate}}
          </label>
          <ul class="nav-list">
            <li>
              <a routerLink="/app/users" class="nav-link" *ngIf="isDirector">
                {{'navBar.allUsers' | translate}}</a>
            </li>
            <li>
              <a routerLink="/app/interns" class="nav-link" *ngIf="isDirector">
                Lista praktykantów</a>
            </li>
          </ul>
        </section>
        <a routerLink="/app/companies" class="nav-link" *ngIf="isDirector">
          <clr-icon shape="store" class="is-solid"></clr-icon>
          Lista firm
        </a>
        <a routerLink="/app/documents" class="nav-link" *ngIf="isDirector">
          <clr-icon shape="clipboard"></clr-icon>
          Dokumenty
        </a>
        <a routerLink="/app/forms" class="nav-link" *ngIf="isDirector">
          <clr-icon shape="form"></clr-icon>
          {{'navBar.surveys' | translate}}
        </a>
        <a routerLink="/app/statistics" class="nav-link" *ngIf="isDirector">
          <clr-icon shape="line-chart"></clr-icon>
          Statystyki
        </a>


        <!--Kierownik praktyk-->
        <a routerLink="/app/home" class="nav-link" *ngIf="isModerator" style="color: red">
          Kierownik praktyk
        </a>
        <a routerLink="/app/requests" class="nav-link" *ngIf="isModerator">
          <clr-icon shape="arrow"></clr-icon>
          <b>Wnioski o praktyki</b>
        </a>
        <a routerLink="/app/interns" class="nav-link" *ngIf="isModerator">
          <clr-icon shape="users" class="is-solid"></clr-icon>
          Lista praktykantów
        </a>
        <a routerLink="/app/college-structure" class="nav-link" *ngIf="isModerator">
          <clr-icon shape="building"></clr-icon>
          Struktura uczelni
        </a>
        <a routerLink="/app/directions" class="nav-link" *ngIf="isModerator">
          <clr-icon shape="two-way-arrows" class="is-solid"></clr-icon>
          Kierunki studiów
        </a>
<!--        <a routerLink="/app/new-intern" class="nav-link" *ngIf="isModerator">-->
<!--          <clr-icon shape="user" class="is-solid"></clr-icon>-->
<!--          Nowy praktykant-->
<!--        </a>-->
        <a routerLink="/app/activation-keys" class="nav-link" *ngIf="isModerator">
          <clr-icon shape="key" class="is-solid"></clr-icon>
          {{'navBar.activationKeys' | translate}}
        </a>
        <a routerLink="/app/companies" class="nav-link" *ngIf="isModerator">
          <clr-icon shape="store" class="is-solid"></clr-icon>
          Lista firm
        </a>
        <a routerLink="/app/forms" class="nav-link" *ngIf="isModerator">
          <clr-icon shape="form"></clr-icon>
          {{'navBar.surveys' | translate}}
        </a>
        <a routerLink="/app/statistics" class="nav-link" *ngIf="isModerator">
          <clr-icon shape="line-chart"></clr-icon>
          Statystyki
        </a>

        <!--        Praktykant-->
        <a routerLink="/app/home" class="nav-link" *ngIf="isStudent || isSuperAdmin" style="color: red">
          Praktykant
        </a>
        <a routerLink="/app/requests" class="nav-link" *ngIf="isStudent || isSuperAdmin">
          <clr-icon shape="arrow"></clr-icon>
          <b>Wnioski o praktyki</b>
        </a>
        <a routerLink="/app/logbook" class="nav-link" *ngIf="isStudent || isSuperAdmin">
          <clr-icon shape="calendar"></clr-icon>
          Dziennik praktyk
        </a>
        <a routerLink="/app/documents" class="nav-link" *ngIf="isStudent || isSuperAdmin">
          <clr-icon shape="clipboard"></clr-icon>
          Dokumenty
        </a>
        <a routerLink="/app/forms" class="nav-link" *ngIf="isStudent || isSuperAdmin">
          <clr-icon shape="form"></clr-icon>
          {{'navBar.surveys' | translate}}
        </a>
        <!--        Opiekun PRAKTYK-->
        <a routerLink="/app/home" class="nav-link" *ngIf="isSuperviser || isSuperAdmin" style="color: red">
          Opiekun praktyk
        </a>
        <a routerLink="/app/colleges" class="nav-link" *ngIf="isSuperviser || isSuperAdmin">
          <clr-icon shape="building" class="is-solid"></clr-icon>
          {{'navBar.colleges' | translate}}
        </a>
        <a routerLink="/app/logbook" class="nav-link" *ngIf="isSuperviser || isSuperAdmin">
          <clr-icon shape="calendar"></clr-icon>
          Dzienniki praktyk
        </a>
        <a routerLink="/app/interns" class="nav-link" *ngIf="isSuperviser || isSuperAdmin">
          <clr-icon shape="users" class="is-solid"></clr-icon>
          Lista praktykantów
        </a>
        <a routerLink="/app/forms" class="nav-link" *ngIf="isSuperviser || isSuperAdmin">
          <clr-icon shape="form"></clr-icon>
          {{'navBar.surveys' | translate}}
        </a>
      </section>
    </nav>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
