<p-toast [baseZIndex]="10000" autoZIndex="true"></p-toast>

<h1 style="text-align: center">{{'logbooks.header' | translate}}</h1>
<!--<h4 style="text-align: center">{{'logbooks.secondHeader' | translate}}</h4>-->

<clr-datagrid [(clrDgSelected)]="selectedLogbook"
              [clrDgLoading]="blockUI" style="height: 75%;">
  <clr-dg-action-bar>
    <div class="btn-group">
      <clr-dropdown>
        <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
          {{'common.export.button' | translate}}
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <button type="button" (click)="showExportDialog(true)"
                  [disabled]="logbooks.length === 0" clrDropdownItem>
            {{'common.export.all' | translate}}</button>
          <button type="button" (click)="showExportDialog(false)"
                  [disabled]="selectedLogbook.length === 0" clrDropdownItem>
            {{'common.export.selected' | translate}}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-dg-action-bar>
  <clr-dg-column *ngFor="let col of columns">
    {{col.label | translate}}
  </clr-dg-column>

  <clr-dg-row *ngFor="let logbook of logbooks" [clrDgItem]="logbook">
    <clr-dg-cell>{{logbook.name}}</clr-dg-cell>
    <clr-dg-cell>{{logbook.companyName}}</clr-dg-cell>
    <clr-dg-cell>{{logbook.position}}</clr-dg-cell>
    <clr-dg-cell>{{logbook.actualAmountOfHours}}</clr-dg-cell>
    <clr-dg-cell>{{logbook.amountOfHours}}</clr-dg-cell>
    <clr-dg-cell>
      <div *ngIf="logbook.active">
        <clr-icon shape="check"></clr-icon>
      </div>
      <div *ngIf="!logbook.active">
        <clr-icon shape="times"></clr-icon>
      </div>
    </clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-secondary"
                (click)="showEditLogbookDialog(logbook.id)">
          <clr-icon shape="angle-double"></clr-icon>
          Podgląd
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-placeholder>{{'logbooks.notFound' | translate}}</clr-dg-placeholder>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size
        [clrPageSizeOptions]="[10,20,50,100]">{{'logbooks.logbooksPerPage' | translate}}</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem
    + 1}} {{'common.of' | translate}} {{pagination.totalItems}} {{'logbooks.logbooks' | translate}}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<ng-template #addEditDialog></ng-template>
<ng-template #exportDialog></ng-template>
<ng-template #confirmDeleteDialog></ng-template>

