<h1 style="text-align: center">{{'interns.header' | translate}}</h1>
<!--<h4 style="text-align: center">{{'interns.secondHeader' | translate}}</h4>-->

<clr-datagrid [(clrDgSelected)]="selectedUsers" style="height: 50%;" [clrDgLoading]="blockUI">
  <clr-dg-action-bar>
    <clr-combobox-container style="text-align: center">
      <label>Wybór rocznika</label>
      <clr-combobox [(ngModel)]="selectedClasses" name="multiSelect" clrMulti="true" required (ngModelChange)="onSelectedClassesChange()">
        <ng-container *clrOptionSelected="let selected">
          <clr-icon shape="users" role="img" aria-label="welcome home"></clr-icon> {{selected?.name}}
        </ng-container>
        <clr-options>
          <clr-option *clrOptionItems="let state of classes; field:'name'" [clrValue]="state">
            <clr-icon shape="users" role="img" aria-label="World is turning"></clr-icon> {{state.name}}
<!--            <clr-icon shape="sun" role="img" aria-label="Sun is shining"></clr-icon>-->
          </clr-option>
        </clr-options>
      </clr-combobox>
<!--      <clr-control-helper>Helper text</clr-control-helper>-->
    </clr-combobox-container>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-primary"
              (click)="showAddNewDialog()">
        <clr-icon shape="plus"></clr-icon>
        {{'interns.CRUD.addIntern' | translate}}
      </button>
      <clr-dropdown>
        <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
          {{'common.export.button' | translate}}
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <button type="button" (click)="showExportDialog(true)"
                  [disabled]="users.length === 0" clrDropdownItem>
            {{'common.export.all' | translate}}</button>
          <button type="button" (click)="showExportDialog(false)"
                  [disabled]="selectedUsers.length === 0" clrDropdownItem>
            {{'common.export.selected' | translate}}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-dg-action-bar>
  <clr-dg-column *ngFor="let col of columns">
    {{col.label | translate}}
  </clr-dg-column>

  <clr-dg-row *ngFor="let user of users" [clrDgItem]="user">
    <clr-dg-cell>{{user.id}}</clr-dg-cell>
    <clr-dg-cell>{{user.firstName}}</clr-dg-cell>
    <clr-dg-cell>{{user.lastName}}</clr-dg-cell>
    <clr-dg-cell>{{user.username}}</clr-dg-cell>
    <clr-dg-cell>
      <div *ngIf="user.active">
        <clr-icon shape="check"></clr-icon>
      </div>
      <div *ngIf="!user.active">
        <clr-icon shape="times"></clr-icon>
      </div>
    </clr-dg-cell>
    <clr-dg-cell>
      <div *ngIf="user.removed">
        <clr-icon shape="check"></clr-icon>
      </div>
      <div *ngIf="!user.removed">
        <clr-icon shape="times"></clr-icon>
      </div>
    </clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-secondary" (click)="showEditDialog(user.id)">
          <clr-icon shape="id-badge"></clr-icon>
          {{'interns.showIntern' | translate }}
        </button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="showEditDialog(user.id)">
          <clr-icon shape="pencil"></clr-icon>
          {{'common.crud.edit' | translate }}
        </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="showConfirmDeleteDialog()">
          <clr-icon shape="trash"></clr-icon>
          {{'common.crud.delete' | translate }}
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-placeholder>{{'interns.notFound' | translate}}</clr-dg-placeholder>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size
        [clrPageSizeOptions]="[10,20,50,100]">{{'users.usersPerPage' | translate}}</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem
    + 1}} {{'common.of' | translate}} {{pagination.totalItems}} {{'users.users' | translate}}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<ng-template #addEditDialog></ng-template>
<ng-template #exportDialog></ng-template>


