<clr-modal [(clrModalOpen)]="displayDialog" [clrModalClosable]="false" [clrModalSize]="'l'"
           [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">{{dialogTitle}}</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="collegeStructureForm" id="collegeStructureForm">
      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <select clrSelect id="select-level" class="clr-select" formControlName="level"
                  (change)="onCollegeStructureLevelChange()">
            <option *ngFor="let level of collegeStructuresLevels"
                    [value]="level.value">{{level.label}}</option>
          </select>
          <clr-icon *ngIf="collegeStructureForm.get('level').value == null"
                    class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <!--        Faculty chosen - only input for faculty-->
      <div *ngIf="collegeStructureForm.get('level').value === '1'">
        <div class="clr-row">
          <div class="clr-col-2"></div>
          <div class="clr-col-8">
            <input clrInput name="input" size="50" [placeholder]="('common.facultyName' | translate)"
                   formControlName="facultyName"/>
          </div>
          <div class="clr-col-2"></div>
        </div>
      </div>

      <!--        Institute chosen - dropdown for faculty, input for institute-->
      <div *ngIf="collegeStructureForm.get('level').value === '2'">
        <div class="clr-row">
          <div class="clr-col-2"></div>
          <div class="clr-col-8">
            <select clrSelect id="select-faculty-institute" class="clr-select" formControlName="facultyId">
              <option *ngFor="let faculty of faculties"
                      [value]="faculty.id">{{faculty.name}}</option>
            </select>
            <clr-icon *ngIf="collegeStructureForm.get('level').value == null"
                      class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <div class="clr-col-2"></div>
        </div>
        <div class="clr-row">
          <div class="clr-col-2"></div>
          <div class="clr-col-8">
            <input clrInput name="input" size="50" [placeholder]="('common.instituteName' | translate)"
                   formControlName="instituteName"/>
          </div>
          <div class="clr-col-2"></div>
        </div>
      </div>

      <!--        department chosen - dropdown for faculty and institute, input for department-->
      <div *ngIf="collegeStructureForm.get('level').value === '3'">
        <div class="clr-row">
          <div class="clr-col-2"></div>
          <div class="clr-col-8">
            <select clrSelect id="select-faculty-department" class="clr-select"
                    formControlName="facultyId" (change)="onChangeFaculty()">
              <option *ngFor="let faculty of faculties"
                      [value]="faculty.id">{{faculty.name}}</option>
            </select>
            <clr-icon *ngIf="collegeStructureForm.get('level').value == null"
                      class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <div class="clr-col-2"></div>
        </div>

        <div class="clr-row">
          <div class="clr-col-2"></div>
          <div class="clr-col-8">
            <select clrSelect id="select-institute-department" class="clr-select"
                    formControlName="instituteId">
              <option *ngFor="let institute of institutes"
                      [value]="institute.id">{{institute.name}}</option>
            </select>
            <clr-icon *ngIf="collegeStructureForm.get('level').value == null"
                      class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <div class="clr-col-2"></div>
        </div>

        <div class="clr-row">
          <div class="clr-col-2"></div>
          <div class="clr-col-8">
            <input clrInput name="input" size="50" [placeholder]="('common.departmentName' | translate)"
                   formControlName="departmentName"/>
          </div>
          <div class="clr-col-2"></div>
        </div>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <div class="btn-group">
      <button [clrLoading]="validateBtnState" type="submit" form="collegeStructureForm"
              class="btn btn-primary" [disabled]="!collegeStructureForm.valid"
              (click)="onSubmit()">
        {{'add-edit-dialog.save' | translate}}</button>
      <button class="btn btn-secondary-outline"
              (click)="displayDialog = false">{{'add-edit-dialog.cancel' | translate}} </button>
    </div>
  </div>


  <!--  Editing -->
  <div *ngIf="!addNew">
    <h3 class="modal-title">Edit mode</h3>
    <div class="modal-body">
      <clr-stack-view>
        <clr-stack-block
          *ngFor="let faculty of collegeStructure.faculties; let blockIndex = index"
          [clrSbNotifyChange]="faculty.name!=='Content '+ (blockIndex)"
          [clrStackViewLevel]="1"
          [clrStackViewSetsize]="collegeStructure.faculties.length"
          [clrStackViewPosinset]="blockIndex + 1"
        >
          <clr-stack-label>{{faculty.name}}</clr-stack-label>
          <clr-stack-content>
            <input type="text" [(ngModel)]="faculty.name" class="clr-input"/>
          </clr-stack-content>

          <clr-stack-block
            *ngFor="let institute of faculty.institutes; let blockChildIndex = index"
            [clrSbNotifyChange]="institute.name!=='Sub-content '+ (blockChildIndex)"
            [clrStackViewLevel]="2"
            [clrStackViewSetsize]="faculty.institutes.length"
            [clrStackViewPosinset]="blockChildIndex + 1"
          >
            <clr-stack-label>{{faculty.name}}</clr-stack-label>
            <clr-stack-content>
              <input type="text" [(ngModel)]="faculty.name" class="clr-input"/>
            </clr-stack-content>
          </clr-stack-block>
        </clr-stack-block>
      </clr-stack-view>
    </div>
    <div class="modal-footer">
      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-4">
          <button [clrLoading]="validateBtnState" type="submit" form="collegeStructureForm"
                  class="btn btn-primary"
                  (click)="onSubmit()">
            {{'add-edit-dialog.save' | translate}}</button>
        </div>
        <div class="clr-col-4">
          <button class="btn btn-secondary-outline"
                  (click)="displayDialog = false">{{'add-edit-dialog.cancel' | translate}} </button>
        </div>
        <div class="clr-col-2"></div>
      </div>
    </div>
  </div>
</clr-modal>
