<clr-main-container [ngClass]="'mainContainer'" style="z-index: 99999;">
  <clr-header class="header header-4">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <clr-icon shape="block"></clr-icon>
        <span class="title">{{'header.SOP' | translate}}</span>
      </a>
    </div>
    <div class="header-actions" *ngIf="!isLoggedIn">
      <a class="nav-link nav-text" (click)="showLoginForm()" style="cursor: pointer">
        {{'header.login' | translate}}
      </a>
      <a class="nav-link nav-text" (click)="showRegistrationForm()" style="cursor: pointer">
        {{'header.register' | translate}}
      </a>

<!--      Language chooser-->
<!--      <clr-dropdown>-->
<!--        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">-->
<!--          <span class="flag-icon flag-icon-pl"></span>-->
<!--          <clr-icon shape="caret down"></clr-icon>-->
<!--        </button>-->
<!--        <clr-dropdown-menu *clrIfOpen>-->
<!--          <span class="flag-icon flag-icon-gb"></span>-->
<!--        </clr-dropdown-menu>-->
<!--      </clr-dropdown>-->
    </div>
    <div class="header-actions" *ngIf="isLoggedIn">
      <a href="javascript://" class="nav-link nav-icon-text">
        <clr-icon shape="user"></clr-icon>
        <span class="nav-text">{{user.username}}</span>
      </a>
      <clr-dropdown *ngIf="user.colleges && user.colleges.length > 1">
        <button clrDropdownTrigger aria-label="toggle settings menu">
          <clr-icon style="width: 1.1rem; height: 1.1rem; outline-color: #247bae"
                    shape="building"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="onCollegeChange(college.id)" *ngFor="let college of user.colleges"
             clrDropdownItem>
            <div *ngIf="college.id === user.selectedCollege">
              <clr-icon shape="check"></clr-icon>
              <clr-icon shape="building"></clr-icon>
              <b> {{college.name}}</b>
            </div>
            <div *ngIf="college.id !== user.selectedCollege">
              <clr-icon shape="building"></clr-icon>
              {{college.name}}
            </div>
          </a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <button clrDropdownTrigger aria-label="toggle settings menu">
          <clr-icon style="width: 1.1rem; height: 1.1rem;" shape="cog"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="aboutDialog = true" clrDropdownItem>
            <clr-icon shape="info-standard" class="is-solid"></clr-icon>
            Informacje</a>
          <a href="..." clrDropdownItem>
            <clr-icon shape="cog" class="is-solid"></clr-icon>
            Preferences</a>
          <a (click)="logout()" clrDropdownItem>
            <clr-icon shape="logout" class="is-solid"></clr-icon>
            Wyloguj się</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
</clr-main-container>
<!---->
<!--<clr-modal [(clrModalOpen)]="aboutDialog" [clrModalClosable]="false">-->
<!--  <h3 class="modal-title"></h3>-->
<!--  <div class="modal-body">-->
<!--    <p>-->
<!--      System Obsługi Praktyk <br><br>-->
<!--      Autor: Kacper Rzymkiewicz <br>-->
<!--      Rok: 2020 <br>-->
<!--    </p>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-primary" (click)="aboutDialog = false">-->
<!--      OK!-->
<!--    </button>-->
<!--  </div>-->
<!--</clr-modal>-->
<!---->
<!--<clr-modal [(clrModalOpen)]="changeCollegeDialog" [clrModalClosable]="false">-->
<!--  <h3 class="modal-title">{{'collegeStructure.changeCollege' | translate}}</h3>-->
<!--  <div class="modal-body">-->
<!--    <p>{{'collegeStructure.changeCollegeQuestion' | translate}}</p>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button class="btn btn-outline" (click)="changeCollegeDialog = false"-->
<!--            type="button">{{'common.confirm.cancel' | translate}}</button>-->
<!--    <button class="btn btn-primary" (click)="changeCollege()"-->
<!--            type="button">{{'common.confirm.confirm' | translate}}</button>-->
<!--  </div>-->
<!--</clr-modal>-->
<!---->
<ng-template #loginForm></ng-template>
<p-toast [baseZIndex]="10000" autoZIndex="true"></p-toast>

