/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #247bae;
}

.table-buttons {
  text-align: center;
  margin-right: 5px;
}

.home-page {

}

.home-page {
  font-size: 24px;
  margin: 20px;
  text-align: center;
}

.home-page-icons {
  width: 50px !important;
  height: 50px !important;
}

.college-registration-button {
  color: #247bae !important;
}

.college-registration-button:hover {
  font-weight: bold;
}

@media all and (max-width: 400px) {
  .welcome-page {
    font-size: 18px;
    margin: 10px;
  }

  .welcome-page-icons {
    width: 30px !important;
    height: 30px !important;
  }
}
