<section #sectionOne id="sectionOne">
  <div id="sectionOneContent">
    <div>
      <b>Przyśpiesz</b> procesy.
    </div>
    <div>
      <b>Śledź</b> postęp.
    </div>
    <div>
      <b>Zyskaj</b> czas.
    </div>
  </div>
  <div id="sectionOneFooter">
    <div class="container">
      <div class="content" (click)="scroll(sectionTwo)">
        <p>Sprawdź co oferujemy!</p>
        <svg id="more-arrows">
          <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "/>
          <polygon class="arrow-middle"
                   points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "/>
          <polygon class="arrow-bottom"
                   points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
        </svg>
      </div>
    </div>
  </div>
</section>

<section #sectionTwo id="sectionTwo">
  <div id="sectionTwoContent">
    <div>
      <b>System Obsługi Praktyk Studenckich</b>
    </div>
    <div>
     Zarządzanie strukturą uczelni<br>
    </div>

  </div>
  <div id="sectionTwoFooter">
    <div class="container">
      <div class="content" (click)="scroll(sectionThree)">
        <p id="joinUs">Dołącz do nas!</p>
        <svg id="more-white-arrows">
          <polygon class="white-arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "/>
          <polygon class="white-arrow-middle"
                   points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "/>
          <polygon class="white-arrow-bottom"
                   points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
        </svg>
      </div>
    </div>
  </div>
</section>

<section #sectionThree id="sectionThree">
  <button (click)="showRegisterCollegeForm()" class="college-registration-button">
    Dołącz uczelnię do systemu
  </button>
</section>

<!--<ng-template #collegeRegistrationForm></ng-template>-->
