<!--<clr-datagrid>-->
<!--  <&#45;&#45; ... &ndash;&gt;-->
<!--  <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">-->
<!--    <clr-dg-action-overflow>-->
<!--      <button class="action-item" (click)="onEdit(user)">Edit</button>-->
<!--      <button class="action-item" (click)="onDelete(user)">Delete</button>-->
<!--    </clr-dg-action-overflow>-->
<!--    <&#45;&#45; ... &ndash;&gt;-->
<!--  </clr-dg-row>-->
<!--  <&#45;&#45; ... &ndash;&gt;-->
<!--</clr-datagrid>-->

<!--Selected users: <span *ngFor="let user of selected">{{user.name}}</span>-->

