<h1 style="text-align: center">Klucze aktywacyjne dla użytkowników</h1>
<h4 style="text-align: center">Aby dodać nowych użytkowników utwórz klucz aktywacyjny</h4>

<clr-datagrid [(clrDgSelected)]="selectedActivationKeys" [clrDgRowSelection]="true"
              [clrDgLoading]="blockUI" style="height: 75%;">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-primary"
              (click)="showAddNewDialog()">
        <clr-icon shape="plus"></clr-icon>
        {{'activationKeys.CRUD.addActivityKey' | translate}}
      </button>
      <clr-dropdown>
        <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
          {{'common.export.button' | translate}}
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <button type="button" (click)="showExportDialog(true)"
                  [disabled]="activationKeys.length === 0" clrDropdownItem>
            {{'common.export.all' | translate}}</button>
          <button type="button" (click)="showExportDialog(false)"
                  [disabled]="selectedActivationKeys.length === 0" clrDropdownItem>
            {{'common.export.selected' | translate}}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-dg-action-bar>
  <clr-dg-column *ngFor="let col of columns" [clrDgField]="col.fieldName">
    {{col.label | translate}}
  </clr-dg-column>

  <clr-dg-row *ngFor="let key of activationKeys" [clrDgItem]="key">
    <!--      <clr-dg-cell>{{key.id}}</clr-dg-cell>-->
    <clr-dg-cell>{{key.value}}</clr-dg-cell>
    <clr-dg-cell>{{key.startExpirationDate | date}}</clr-dg-cell>
    <clr-dg-cell>{{key.endExpirationDate | date}}</clr-dg-cell>
    <clr-dg-cell>{{key.numberOfUses}}</clr-dg-cell>
    <!--      <clr-dg-cell>{{key.createdByName}}</clr-dg-cell>-->
    <clr-dg-cell>{{key.directionName}}</clr-dg-cell>
    <clr-dg-cell>{{key.facultyName}}</clr-dg-cell>
    <clr-dg-cell>{{key.instituteName}}</clr-dg-cell>
    <clr-dg-cell>{{key.departmentName}}</clr-dg-cell>
    <clr-dg-cell *ngIf="isSuperAdmin">{{key.collegeName}}</clr-dg-cell>
    <clr-dg-cell *ngIf="isSuperAdmin">{{key.companyName}}</clr-dg-cell>
    <clr-dg-cell>
      <div *ngIf="key.active">
        <clr-icon shape="check"></clr-icon>
      </div>
      <div *ngIf="!key.active">
        <clr-icon shape="times"></clr-icon>
      </div>
    </clr-dg-cell>
    <clr-dg-cell *ngIf="isSuperAdmin">
      <div *ngIf="key.deleted">
        <clr-icon shape="check"></clr-icon>
      </div>
      <div *ngIf="!key.deleted">
        <clr-icon shape="times"></clr-icon>
      </div>
    </clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-secondary" (click)="copyKeyValue(key.value)">
          <clr-icon shape="copy-to-clipboard"></clr-icon>
        </button>
        <button type="button" class="btn btn-sm btn-secondary"
                (click)="showEditDialog(key.value)">
          <clr-icon shape="pencil"></clr-icon>
        </button>
        <button type="button" class="btn btn-sm btn-danger"
                (click)="showConfirmDeleteDialog(key.id)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-placeholder>{{'activationKeys.notFound' | translate}}</clr-dg-placeholder>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,30,50]">{{'activationKeys.activationKeys' | translate}}</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      {{'common.of' | translate}} {{pagination.totalItems}} {{'activationKeys.activationKey' | translate}}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<!--<div class="row">-->
<!--  <div class="clr-col-2"></div>-->
<!--  <div class="clr-col-4">-->
<!--    <div class="btn-group btn-primary">-->
<!--      <button class="btn btn-success" (click)="opened=true">Dodaj klucz</button>-->
<!--      <button class="btn btn-danger" (click)="opened=true">Usuń klucz</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="clr-col-2"></div>-->
<!--</div>-->

<ng-template #addEditDialog></ng-template>
<ng-template #exportDialog></ng-template>
<ng-template #confirmDeleteDialog></ng-template>
