<p-toast key="toast1" [baseZIndex]="9999"></p-toast>

<clr-modal [(clrModalOpen)]="isDialogVisible" [clrModalStaticBackdrop]="false" [clrModalClosable]="false"
           style="z-index: 999;" (close)="onClose()">
  <h3 class="modal-title">{{header}}</h3>
  <div class="modal-body">
    <form id="addEditForm" clrForm [formGroup]="addEditForm">
      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <input clrInput style="width: 100%;" [placeholder]="'add-edit-dialog.name' | translate"
                 formControlName="name">
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <input clrInput style="width: 100%;" [placeholder]="'locations.address' | translate"
                 formControlName="address">
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <input clrInput style="width: 100%;" [placeholder]="'locations.floor' | translate"
                 formControlName="floor">
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <input clrInput style="width: 100%;" [placeholder]="'locations.room' | translate"
                 formControlName="room">
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <input clrInput style="width: 100%;" [placeholder]="'locations.capacity' | translate"
                 formControlName="capacity">
        </div>
        <div class="clr-col-2"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="clr-row">
      <div class="clr-col-2"></div>
      <div class="clr-col-8">
        <clr-button-group>
          <clr-button class="btn-primary" type="submit"
                      (click)="save()">{{'add-edit-dialog.save' | translate}}
          </clr-button>
          <clr-button class="btn"
                      (click)="isDialogVisible=false">
            {{'add-edit-dialog.cancel' | translate}}
          </clr-button>
        </clr-button-group>
      </div>
      <div class="clr-col-2"></div>
    </div>
  </div>
</clr-modal>
