<p-toast></p-toast>

<clr-modal [(clrModalOpen)]="isDialogVisible" [clrModalStaticBackdrop]="false" [clrModalClosable]="false"
           style="z-index: 999;">
  <h3 class="modal-title">{{header}}</h3>
  <div class="modal-body">
    <form id="addEditForm" clrForm [formGroup]="addEditForm">
      <div class="clr-row">
        <div class="clr-col-2">{{'common.name' | translate}}</div>
        <div class="clr-col-8">
          <input clrInput style="width: 100%;" [placeholder]="'add-edit-dialog.name' | translate"
                 formControlName="name">
        </div>
        <div class="clr-col-2"></div>
      </div>

      <!--      <div class="clr-row">-->
      <!--        <div class="clr-col-2">{{'common.description' | translate}}</div>-->
      <!--        <div class="clr-col-8">-->
      <!--          <input clrInput style="width: 100%;" [placeholder]="'common.description' | translate"-->
      <!--                 formControlName="description">-->
      <!--        </div>-->
      <!--        <div class="clr-col-2"></div>-->
      <!--      </div>-->

      <div class="clr-row">
        <div class="clr-col-2">
          {{'common.duration' | translate}}
        </div>
        <div class="clr-col-8">
            <input clrDatalistInput placeholder="Option" name="Option" formControlName="item"/>
            <datalist id="clr-custom-datalistid-1">
              <option *ngFor="let durationItem of durationItems" [value]="durationItem"></option>
            </datalist>
        </div>
        <div class="clr-col-2"></div>
      </div>
      <div class="clr-row">
        <div class="clr-col-2">{{'common.hostBy' | translate}}</div>
        <div class="clr-col-8">
          <!--          <input clrInput style="width: 100%;" [placeholder]="'common.hostBy' | translate"-->
          <!--                 formControlName="hostBy">-->
          <select clrSelect name="options" formControlName="room">
            <div *ngFor="let userOption of users">
              <option [value]="userOption.id">{{userOption.firstName + ' ' + userOption.lastName}} </option>
            </div>
          </select>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2">{{'common.location' | translate}}</div>
        <div class="clr-col-8">
          <input clrInput style="width: 100%;" [placeholder]="'common.location' | translate"
                 formControlName="capacity">
        </div>
        <div class="clr-col-2"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="clr-row">
      <div class="clr-col-2"></div>
      <div class="clr-col-8">
        <clr-button-group>
          <clr-button class="btn-primary" type="submit" form="loginForm" class="btn btn-primary"
                      (click)="save()" [disabled]="addEditForm.invalid">
            {{'add-edit-dialog.save' | translate}}
          </clr-button>
          <clr-button class="btn"
                      (click)="isDialogVisible=false">
            {{'add-edit-dialog.cancel' | translate}}
          </clr-button>
        </clr-button-group>
      </div>
      <div class="clr-col-2"></div>
    </div>
  </div>
</clr-modal>
