<clr-modal [(clrModalOpen)]="displayLoginDialog" [clrModalStaticBackdrop]="false" [clrModalClosable]="false">
  <h3 class="modal-title">{{'login.header' | translate}}</h3>
  <div class="modal-body">
    <div *ngIf="blockUI" style="text-align: center">
      <clr-spinner *ngIf="blockUI">Loading data</clr-spinner>
    </div>
    <form clrForm [formGroup]="loginForm">
      <div class="clr-row">
        <div class="clr-col-4"></div>
        <div class="clr-col-4">
          <clr-input-container>
            <label>
              <clr-icon shape="user"></clr-icon>
            </label>
            <input clrInput formControlName="username" placeholder="{{'login.usernameLabel' | translate}}"/>
          </clr-input-container>
        </div>
        <div class="clr-col-4"></div>
      </div>
      <div class="clr-row">
        <div class="clr-col-4"></div>
        <div class="clr-col-4">
          <clr-input-container>
            <label>
              <clr-icon shape="key"></clr-icon>
            </label>
            <input clrInput type="password" formControlName="password"
                   placeholder="{{'login.passwordLabel' | translate}}"/>
          </clr-input-container>
        </div>
        <div class="clr-col-4"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-block"
            (click)="onSubmit()">{{'login.loginButton' | translate}} </button>
    <button type="submit" class="btn btn-secondary-outline btn-block"
            (click)="displayLoginDialog = false">{{'login.cancelButtonLabel' | translate}} </button>
  </div>
</clr-modal>

