<clr-main-container *ngIf="logged">
  <clr-header class="header header-7">
    <div class="branding">
      <a routerLink="..." class="nav-link">
        <clr-icon shape="block"></clr-icon>
        <span class="title">{{'header.SOP' | translate}}</span>
      </a>
    </div>

    <div class="header-actions">

      <a href="javascript://" class="nav-link nav-icon-text">
        <clr-icon shape="user"></clr-icon>
        <span class="nav-text">Nazwa użytkownika</span>
      </a>

      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="aboutDialog = true" clrDropdownItem>
            <clr-icon shape="info-standard" class="is-solid"></clr-icon>
            Informacje</a>
          <a href="..." clrDropdownItem>
            <clr-icon shape="cog" class="is-solid"></clr-icon>
            Preferences</a>
          <a href="/app/logout" clrDropdownItem>
            <clr-icon shape="logout" class="is-solid"></clr-icon>
            Wyloguj się</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <nav class="sidenav" *ngIf="!planner" [clr-nav-level]="1">
      <section class="sidenav-content">
        <a href="/" class="nav-link">
          <clr-icon shape="home"></clr-icon>
          {{'navBar.home' | translate}}
        </a>
        <section class="nav-group collapsible">
          <input id="tabexample1" type="checkbox">
          <label for="tabexample1">{{'navBar.planner.label' | translate}}</label>
          <ul class="nav-list">
            <li>
              <a class="nav-link" href="/app/planner/myActivitiesList">
                <clr-icon shape="view-list"></clr-icon>
                {{'navBar.planner.myActivitiesList' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" href="/app/planner/myActivitiesCalendar">
                <clr-icon shape="calendar"></clr-icon>
                {{'navBar.planner.myActivitiesCalendar' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" href="/app/planner/locations">
                <clr-icon shape="building"></clr-icon>
                {{'navBar.planner.locations' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" href="/app/planner/workSchedule">
                <clr-icon shape="clock" ></clr-icon>
                {{'navBar.planner.workHours' | translate}}
              </a>
            </li>
          </ul>
        </section>

        <a href="/app/forms" class="nav-link">
          <clr-icon shape="form"></clr-icon>
          {{'navBar.surveys' | translate}}
        </a>
        <hr>
        <a href="" class="nav-link">
          SuperAdmin
        </a>
        <a href="/app/college" class="nav-link">
          <clr-icon shape="building" class="is-solid"></clr-icon>
          {{'navBar.colleges' | translate}}
        </a>
        <a href="/app/users" class="nav-link">
          <clr-icon shape="users" class="is-solid"></clr-icon>
          {{'navBar.users' | translate}}
        </a>
        <hr>
        <a href="" class="nav-link">
          Administrator uczelni
        </a>

        <a href="/app/activation-keys" class="nav-link">
          <clr-icon shape="users" class="is-solid"></clr-icon>
          {{'navBar.practiceManagers'| translate}}
        </a>

        <a href="/app/activation-keys" class="nav-link">
          <clr-icon shape="cursor-move"></clr-icon>
          {{'navBar.practiceSupervisors' | translate}}
        </a>

        <hr>

        <a href="" class="nav-link">
          Kierownik praktyk
        </a>
        <a href="/app/activation-keys" class="nav-link">
          <clr-icon shape="key" class="is-solid"></clr-icon>
          Klucze aktywacyjne
        </a>
        <a href="/app/new-intern" class="nav-link">
          <clr-icon shape="user" class="is-solid"></clr-icon>
          Nowy praktykant
        </a>
        <a href="/app/interns" class="nav-link">
          <clr-icon shape="users" class="is-solid"></clr-icon>
          Lista praktykantów
        </a>
        <a href="/app/companies" class="nav-link">
          <clr-icon shape="store" class="is-solid"></clr-icon>
          Lista firm
        </a>
        <a href="/app/statistics" class="nav-link">
          <clr-icon shape="line-chart"></clr-icon>
          Statystyki
        </a>
        <hr>
        <a href="" class="nav-link">
          Praktykant
        </a>
        <a href="/app/logbook" class="nav-link">
          <clr-icon shape="calendar"></clr-icon>
          Dziennik praktyk
        </a>
        <hr>
        <a href="" class="nav-link">
          Opiekun praktyk
        </a>
        <a href="/app/logbook" class="nav-link">
          <clr-icon shape="calendar"></clr-icon>
          Dziennik praktyk
        </a>
        <hr>
        Testowe
        <a href="/app/login" class="nav-link">
          <clr-icon shape="line-chart"></clr-icon>
          Login
        </a>
        <a href="/app/registration" class="nav-link">
          <clr-icon shape="line-chart"></clr-icon>
          Rejestracja
        </a>
      </section>
    </nav>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>

<!--<app-login *ngIf="!logged"></app-login>-->
<!--<app-registration *ngIf="!logged"></app-registration>-->

<clr-modal [(clrModalOpen)]="aboutDialog" [clrModalClosable]="false">
  <h3 class="modal-title"></h3>
  <div class="modal-body">
    <p>
      System Obsługi Praktyk <br><br>
      Autor: Kacper Rzymkiewicz <br>
      Rok: 2020 <br>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="aboutDialog = false">
      OK!
    </button>
  </div>
</clr-modal>
