<form clrForm>
  Dodawanie nowego praktykanta
  <clr-input-container>
    <label>Imie</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Nazwisko</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>
  <clr-date-container>
    <label>Data urodzenia</label>
    <input type="date" clrDate name="demo" [(ngModel)]="demo">
  </clr-date-container>
  <clr-input-container>
    <label>Kierunek studiów</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Rok studiów</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Wydział</label>
    <input clrInput type="text" [(ngModel)]="model" name="example" />
  </clr-input-container>

  <br>
  <div class="btn-group btn-primary">
    <button class="btn btn-success">Dodaj</button>
  </div>
</form>
