<clr-wizard #wizard [clrWizardOpen]="displayDialog" (clrWizardOpenChange)="reset($event)"
            (clrWizardOnFinish)="sendRequest()"
            clrWizardSize="lg">
  <clr-wizard-title>{{'requests.dialog.titleNew' | translate}}</clr-wizard-title>
  <clr-wizard-button
    [type]="'cancel'">{{'requests.dialog.buttons.cancel' | translate}}</clr-wizard-button>
  <clr-wizard-button
    [type]="'previous'">{{'requests.dialog.buttons.previous' | translate}}</clr-wizard-button>
  <clr-wizard-button
    [type]="'next'">{{'requests.dialog.buttons.next' | translate}}</clr-wizard-button>
  <clr-wizard-button
    [type]="'finish'">{{'requests.dialog.buttons.finish' | translate}}</clr-wizard-button>

  <clr-wizard-page #pageOne [clrWizardPageNextDisabled]="!firstPageFormValid">
    <ng-template
      clrPageTitle>{{'requests.dialog.titles.chooseRequestTypeTitle' | translate}}</ng-template>
    <ng-template
      clrPageNavTitle>{{'requests.dialog.titles.chooseRequestTypeNav' | translate}}</ng-template>

    <form clrForm clrLayout="horizontal" [formGroup]="firstPageForm">
      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-select-container>
            <label>
              <clr-icon shape="form"></clr-icon>
            </label>
            <select clrSelect id="select-requestType" class="clr-select"
                    formControlName="requestType" (ngModelChange)="onChangeSelect($event)">
              <option *ngFor="let requestType of requestTypes" [value]="requestType?.value">
                {{'requests.requestTypes.' + requestType?.name.toString() | translate }}</option>
            </select>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
            <clr-icon *ngIf="!firstPageForm.get('requestType').value"
                      class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </clr-select-container>
        </div>
        <div class="clr-col-2"></div>
      </div>
    </form>
  </clr-wizard-page>

  <clr-wizard-page #pageTwo [clrWizardPageNextDisabled]="secondPageForm.invalid">
    <ng-template
      clrPageTitle>{{'requests.dialog.titles.basicDataTitle' | translate}}</ng-template>
    <ng-template
      clrPageNavTitle>{{'requests.dialog.titles.basicDataNav' |translate}}</ng-template>
    <form [formGroup]="secondPageForm">
      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.position' |translate}}</label>
            <input clrInput required clrInput type="text" formControlName="position"
                   [placeholder]="'requests.wizard.position' | translate"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.positionDescription' |translate}}</label>
            <input [size]="35" required clrInput type="text" formControlName="positionDescription"
                   placeholder="{{'requests.wizard.positionDescription' | translate}}"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.amountOfHours' |translate}}</label>
            <input [size]="35" required clrInput type="number" formControlName="amountOfHours"
                   min="0"
                   max="500"
                   placeholder="{{'requests.wizard.amountOfHours' | translate}}"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.responsibilities' |translate}}</label>
            <input [size]="35" required clrInput type="text" formControlName="responsibilities"
                   placeholder="{{'requests.wizard.responsibilities' | translate}}"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-select-container>
            <label>
              Kierownik praktyk
            </label>
            <select clrSelect id="select-role" class="clr-select" formControlName="moderatorId" required>
              <option *ngFor="let moderator of moderators" [value]="moderator.id">
                {{moderator.name}}</option>
            </select>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-select-container>
        </div>
        <div class="clr-col-2"></div>
      </div>
    </form>
  </clr-wizard-page>


  <clr-wizard-page #pageThree [clrWizardPageNextDisabled]="thirdPageForm.invalid">
    <ng-template
      clrPageTitle>{{'requests.dialog.titles.companyDataTitle' | translate}}</ng-template>
    <ng-template
      clrPageNavTitle>{{'requests.dialog.titles.companyDataNav' |translate}}</ng-template>
    <form [formGroup]="thirdPageForm">
      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.companyName' |translate}}</label>
            <input clrInput required clrInput type="text" formControlName="companyName"
                   [placeholder]="'requests.wizard.companyName' | translate"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.companyNip' |translate}}</label>
            <input [size]="35" maxlength="10" required clrInput type="text" formControlName="companyNip"
                   placeholder="{{'requests.wizard.companyNip' | translate}}"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.departmentName' |translate}}</label>
            <input [size]="35" required clrInput type="text" formControlName="departmentName"
                   placeholder="{{'requests.wizard.departmentName' | translate}}"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.practiceSuperviserName' |translate}}</label>
            <input [size]="35" required clrInput type="text" formControlName="practiceSuperviserName"
                   placeholder="{{'requests.wizard.practiceSuperviserName' | translate}}"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.practiceSuperviserLastName' |translate}}</label>
            <input [size]="35" required clrInput type="text" formControlName="practiceSuperviserLastName"
                   placeholder="{{'requests.wizard.practiceSuperviserLastName' | translate}}"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.practiceSuperviserPhone' |translate}}</label>
            <input [size]="35" required clrInput type="text" formControlName="practiceSuperviserPhone"
                   placeholder="{{'requests.wizard.practiceSuperviserPhone' | translate}}"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>{{'requests.wizard.practiceSuperviserEmail' |translate}}</label>
            <input [size]="35" required clrInput type="text" formControlName="practiceSuperviserEmail"
                   placeholder="{{'requests.wizard.practiceSuperviserEmail' | translate}}"/>
            <clr-control-error>{{'common.required' | translate}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-2"></div>
      </div>
    </form>
  </clr-wizard-page>

  <clr-wizard-page #pageFourfth [clrWizardPageNextDisabled]="false">
    <ng-template
      clrPageTitle>{{'requests.dialog.titles.agreementsTitle' | translate}}</ng-template>
    <ng-template
      clrPageNavTitle>{{'requests.dialog.titles.agreementsNav' |translate}}</ng-template>
    <form [formGroup]="fourthPageForm">
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox required name="options"
                 formControlName="infoAgreement"/>
          <label>INFORMACJA O PRZETWARZANIU DANYCH OSOBOWYCH</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox required name="options"
                 formControlName="processingAgreement"/>
          <label>ZGODA NA PRZETWARZANIE DANYCH OSOBOWYCH</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
  </clr-wizard-page>

  <clr-wizard-page #pageFifth (clrWizardPageOnLoad)="prepareData()">
    <ng-template clrPageTitle>{{'requests.dialog.titles.summaryTitle' | translate}}</ng-template>
    <ng-template clrPageNavTitle>{{'requests.dialog.titles.summaryNav' |translate}}</ng-template>

    <div class="clr-row">
      <div class="clr-col-2"></div>
      <div class="clr-col-8">
        <label>{{'requests.wizard.companyName' | translate}}</label>
        {{requestToSave.companyName}}
      </div>
      <div class="clr-col-2"></div>
    </div>


  </clr-wizard-page>
</clr-wizard>
