<p-toast [baseZIndex]="10000" autoZIndex="true"></p-toast>

<h1 style="text-align: center">{{'requests.header' | translate}}</h1>

<clr-datagrid [(clrDgSelected)]="selectedRequests" [clrDgLoading]="blockUI" style="height: 75%;">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-primary" *ngIf="principal.isStudent()"
              (click)="showAddNewDialog()">
        <clr-icon shape="plus"></clr-icon>
        {{'requests.CRUD.addRequest' | translate}}
      </button>
      <clr-dropdown>
        <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
          {{'common.export.button' | translate}}
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <button type="button" (click)="showExportDialog(true)"
                  [disabled]="requests.length === 0" clrDropdownItem>
            {{'common.export.all' | translate}}</button>
          <button type="button" (click)="showExportDialog(false)"
                  [disabled]="selectedRequests.length === 0" clrDropdownItem>
            {{'common.export.selected' | translate}}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
      <button class="stack-action btn btn-sm btn-link"
              (click)="refreshRequests()"
              type="button">Odśwież
      </button>
    </div>
  </clr-dg-action-bar>
  <clr-dg-column *ngFor="let col of columns">
    {{col.label | translate}}
  </clr-dg-column>

  <clr-dg-row *ngFor="let request of requests" [clrDgItem]="request">
    <clr-dg-cell>{{request.name}}</clr-dg-cell>
    <clr-dg-cell>{{request.internName}}</clr-dg-cell>
    <clr-dg-cell>{{request.instituteName}}</clr-dg-cell>
    <clr-dg-cell>{{request.moderatorName}}</clr-dg-cell>
    <clr-dg-cell>{{request.adminName}}</clr-dg-cell>
    <clr-dg-cell>{{'requests.statuses.' + request.actualRequestStatus | translate}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group">
        <button *ngIf="principal.isModerator() || principal.isDirector()"
                (click)="showAnswerRequestDialog(request.id)"
                type="button" class="btn btn-sm btn-success-outline">
          <clr-icon shape="angle-double"></clr-icon>
          Odpowiedz
        </button>
        <button (click)="showViewDialog(request.id)"
                type="button" class="btn btn-sm btn-secondary">
          <clr-icon shape="bubble-exclamation"></clr-icon>
          Status
        </button>
        <button type="button" class="btn btn-sm btn-danger" *ngIf="principal.isStudent()"
                (click)="showConfirmDeleteDialog(request.id)" [disabled]="request.actualRequestStatus.toString() == 'ACCEPTED'">
          <clr-icon shape="trash"></clr-icon>
          Usuń
        </button>
        <!--        <button type="button" class="btn btn-sm btn-secondary" *ngIf="principal.isStudent()"-->
        <!--                (click)="showEditDialog(request.id)">-->
        <!--          <clr-icon shape="pencil"></clr-icon>-->
        <!--        </button>-->

        <!--                (click)="activateAction(college)
                <button *ngIf="request.active" type="button" class="btn btn-sm btn-danger-outline"
                      (click)="activateAction(college)">
                <clr-icon shape="times"></clr-icon>
              </button>-->
        <!--        <button *ngIf="!college.active" type="button" class="btn btn-sm btn-success-outline"-->
        <!--                (click)="activateAction(college)">-->
        <!--          <clr-icon shape="check"></clr-icon>-->
        <!--        </button>-->

      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-placeholder>{{'requests.notFound' | translate}}</clr-dg-placeholder>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size
        [clrPageSizeOptions]="[10,20,50,100]">{{'requests.requestPerPage' | translate}}</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem
    + 1}} {{'common.of' | translate}} {{pagination.totalItems}} {{'requests.requests' | translate}}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<!--<div class="row">-->
<!--  <div class="clr-col-2"></div>-->
<!--  <div class="clr-col-4">-->
<!--    <div class="btn-group btn-primary">-->
<!--      <button class="btn btn-success" (click)="opened=true">Dodaj klucz</button>-->
<!--      <button class="btn btn-danger" (click)="opened=true">Usuń klucz</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="clr-col-2"></div>-->
<!--</div>-->

<ng-template #addDialog></ng-template>
<ng-template #addEditDialog></ng-template>
<ng-template #viewDialog></ng-template>
<ng-template #exportDialog></ng-template>
<ng-template #confirmDeleteDialog></ng-template>
<ng-template #answerRequestDialog></ng-template>

