.welcome-page {
  font-size: 24px;
  margin: 10%;
  text-align: center;
}
.welcome-page-icons {
  width: 50px;
  height: 50px;
}

.college-registration-button {
  color: #247bae !important;
}

.college-registration-button:hover {
  color: #247ba0 !important;
}

@media all and (max-width: 400px) {
  .welcome-page {
    font-size: 18px;
  }
  .welcome-page-icons {
    width: 30px;
    height: 30px;
  }
}
