<!--<p-treeTable [value]="collegeStructure" [columns]="cols">-->
<!--  <ng-template pTemplate="header" let-columns let-rowNode>-->
<!--    <tr [ttRow]="rowNode">-->
<!--      <th *ngFor="let col of columns">-->
<!--        {{col.header | translate}}-->
<!--      </th>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">-->
<!--    <tr>-->
<!--      <td *ngFor="let col of columns; let i = index">-->
<!--        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>-->
<!--        {{rowData[col.field]}}-->
<!--      </td>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--</p-treeTable>-->
<p-toast [baseZIndex]="10000" autoZIndex="true"></p-toast>
<h1 style="text-align: center">{{'collegeStructure.header' | translate}}:
  <b style="font-weight: bold">{{collegeStructure.collegeName}}</b>
</h1>
<clr-stack-view>
  <clr-stack-header>
    <div class="btn-group">
      <button class="btn btn-sm btn-primary"
              (click)="showAddNewDialog()"
              type="button">
        <clr-icon shape="plus"></clr-icon>
        {{'collegeStructure.addStructure' | translate}}
      </button>
      <button class="stack-action btn btn-sm btn-link"
              (click)="refreshStack()"
              type="button">Odśwież
      </button>
    </div>
  </clr-stack-header>

<!--  <div *ngIf="collegeStructure.faculties.length == 0">-->
<!--    <clr-stack-block-->
<!--      [clrStackViewLevel]="1"-->
<!--      [clrStackViewSetsize]="1">-->
<!--      <clr-stack-label style="text-align: center">-->
<!--        <h3>-->
<!--          <b>Brak struktur podlegających uczelni!</b>-->
<!--        </h3>-->
<!--      </clr-stack-label>-->
<!--    </clr-stack-block>-->
<!--  </div>-->
<!--  <div *ngIf="collegeStructure.faculties.length > 1">-->
    <clr-stack-block
      *ngFor="let faculty of collegeStructure.faculties; let i = index"
      [clrStackViewLevel]="1"
      [clrStackViewSetsize]="collegeStructure.faculties.length"
      [clrStackViewPosinset]="i">

      <clr-stack-label>{{faculty.name}}</clr-stack-label>
      <clr-stack-content>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-secondary"
                  (click)="showEditDialog(faculty.id, 1)">
            <clr-icon shape="pencil"></clr-icon>
            {{'common.crud.edit' | translate }}
          </button>
          <button type="button" class="btn btn-sm btn-danger"
                  (click)="showConfirmDeleteDialog(faculty.id, 1)">
            <clr-icon shape="trash"></clr-icon>
            {{'common.crud.delete' | translate }}
          </button>
        </div>
      </clr-stack-content>

      <clr-stack-block
        *ngFor="let institute of faculty.institutes; let j = index"
        [clrStackViewLevel]="2"
        [clrStackViewSetsize]="faculty.institutes.length"
        [clrStackViewPosinset]="j">
        <clr-stack-label>{{institute.name}}</clr-stack-label>
        <clr-stack-content>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary"
                    (click)="showEditDialog(institute.id, 2)">
              <clr-icon shape="pencil"></clr-icon>
              {{'common.crud.edit' | translate }}
            </button>
            <button type="button" class="btn btn-sm btn-danger"
                    (click)="showConfirmDeleteDialog(institute.id, 2)">
              <clr-icon shape="trash"></clr-icon>
              {{'common.crud.delete' | translate }}
            </button>
          </div>
        </clr-stack-content>

        <clr-stack-block
          *ngFor="let department of institute.departments; let k = index"
          [clrStackViewLevel]="2"
          [clrStackViewSetsize]="institute.departments.length"
          [clrStackViewPosinset]="k">
          <clr-stack-label><b>{{department.name}}</b></clr-stack-label>
          <clr-stack-content>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-secondary"
                      (click)="showEditDialog(department.id, 3)">
                <clr-icon shape="pencil"></clr-icon>
                {{'common.crud.edit' | translate }}
              </button>
              <button type="button" class="btn btn-sm btn-danger"
                      (click)="showConfirmDeleteDialog(department.id, 3)">
                <clr-icon shape="trash"></clr-icon>
                {{'common.crud.delete' | translate }}
              </button>
            </div>
          </clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
    </clr-stack-block>
<!--  </div>-->
</clr-stack-view>

<ng-template #addEditDialog></ng-template>
<ng-template #exportDialog></ng-template>
<ng-template #confirmDeleteDialog></ng-template>

