<!--<p-dialog [responsive]="true" appendTo="body" [baseZIndex]="400" [maximizable]="true" [(visible)]="isDialogVisible"-->
<!--          [resizable]="true" [modal]="true" [draggable]="false"-->
<!--          header="{{'add-edit-dialog.header' | translate}}">-->
<!--  <form [formGroup]="addEditForm">-->
<!--    <div class="ui-grid-row">-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--      <div class="ui-grid-col-4">-->
<!--        {{"add-edit-dialog.name" | translate}}-->
<!--      </div>-->
<!--      <div class="ui-grid-col-6">-->
<!--        <input pInputText formControlName="name">-->
<!--      </div>-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--    </div>-->
<!--    <div class="ui-grid-row">-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--      <div class="ui-grid-col-4">-->
<!--        {{"add-edit-dialog.description" | translate}}-->
<!--      </div>-->
<!--      <div class="ui-grid-col-6">-->
<!--        <input pInputText formControlName="description">-->
<!--      </div>-->
<!--      <div class="ui-grid-col-2"></div>-->
<!--    </div>-->
<!--    <div class="ui-grid-row">-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--      <div class="ui-grid-col-4">-->
<!--        {{"add-edit-dialog.location" | translate}}-->
<!--      </div>-->
<!--      <div class="ui-grid-col-6">-->
<!--        <input pInputText formControlName="location">-->
<!--      </div>-->
<!--      <div class="ui-grid-col-2"></div>-->
<!--    </div>-->
<!--    <div class="ui-grid-row">-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--      <div class="ui-grid-col-4">-->
<!--        {{"add-edit-dialog.startDate" | translate}}-->
<!--      </div>-->
<!--      <div class="ui-grid-col-6">-->
<!--        <input pInputText formControlName="startDate">-->
<!--      </div>-->
<!--      <div class="ui-grid-col-2"></div>-->
<!--    </div>-->
<!--    <div class="ui-grid-row">-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--      <div class="ui-grid-col-4">-->
<!--        {{"add-edit-dialog.stopDate" | translate}}-->
<!--      </div>-->
<!--      <div class="ui-grid-col-6">-->
<!--        <input pInputText formControlName="stopDate">-->
<!--      </div>-->
<!--      <div class="ui-grid-col-2"></div>-->
<!--    </div>-->
<!--    <p-footer>-->
<!--      <div class="ui-grid-row">-->
<!--        <div class="ui-grid-col-5"></div>-->
<!--        <div class="ui-grid-col-5">-->
<!--          <clr-button-group>-->
<!--            <clr-button class="btn-primary">{{'add-edit-dialog.save' | translate}}</clr-button>-->
<!--            <clr-button class="btn"-->
<!--                        (click)="isDialogVisible=false">{{'add-edit-dialog.cancel' | translate}}</clr-button>-->
<!--          </clr-button-group>-->
<!--        </div>-->
<!--        <div class="ui-grid-col-2"></div>-->
<!--      </div>-->
<!--    </p-footer>-->
<!--  </form>-->
<!--</p-dialog>-->

<p-toast key="toast1" [baseZIndex]="9999"></p-toast>

<clr-modal [(clrModalOpen)]="isDialogVisible" [clrModalStaticBackdrop]="false" [clrModalClosable]="false"
           style="z-index: 999;" (close)="onClose()">
  <h3 class="modal-title">{{header}}</h3>
  <div class="modal-body">
    <form id="addEditForm" clrForm [formGroup]="addEditForm">
      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <input clrInput required style="width: 100%;" [placeholder]="'add-edit-dialog.name' | translate"
                 formControlName="name">
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <input clrInput required style="width: 100%;" [placeholder]="'common.description' | translate"
                 formControlName="description">
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2">
        </div>
        <div class="clr-col-8">
          <clr-datalist-container>
            <input clrDatalistInput required placeholder="{{'common.durationPlaceholder' | translate}}" name="Option"
                   formControlName="duration"/>
            <datalist id="clr-custom-datalistid-1">
              <option *ngFor="let durationItem of durationItems" [label]="durationItem.label"
                      [value]="durationItem.value"></option>
            </datalist>
          </clr-datalist-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-datalist-container>
            <input clrDatalistInput required placeholder="{{'common.hostByPlaceholder' | translate}}" name="instructor"
                   formControlName="instructor"/>
            <datalist id="clr-custom-datalistid-2">
              <option *ngFor="let user of users" [text]="user.firstName" [label]="user.firstName + ' ' + user.lastName"
                      [value]="user.id"></option>
            </datalist>
          </clr-datalist-container>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2"></div>
        <div class="clr-col-8">
          <clr-datalist-container>
            <input clrDatalistInput required placeholder="{{'common.locationPlaceholder' | translate}}" name="location"
                   formControlName="location"/>
            <datalist id="clr-custom-datalistid-3">
              <option *ngFor="let location of locations" [value]="location.value"></option>
            </datalist>
          </clr-datalist-container>
        </div>
        <div class="clr-col-2"></div>
      </div>
      <!--      <div class="clr-row">-->
      <!--        <div class="clr-col-2"></div>-->
      <!--        <div class="clr-col-8">-->
      <!--          <div class="input-wrapper">-->
      <!--            <input [clrDate] type="date" [placeholder]="'add-edit-dialog.startDate' | translate"-->
      <!--                   formControlName="stopDate">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="clr-col-2"></div>-->
      <!--      </div>-->

      <!--      <div class="clr-row">-->
      <!--        <div class="clr-col-2"></div>-->
      <!--        <div class="clr-col-8">-->
      <!--            <input [clrDate] type="date" [placeholder]="'add-edit-dialog.stopDate' | translate"-->
      <!--                   formControlName="stopDate">-->
      <!--        </div>-->
      <!--        <div class="clr-col-2"></div>-->
      <!--      </div>-->


      <!--      <div class="clr-row">-->
      <!--        <div class="clr-col-4"></div>-->
      <!--        <div class="clr-col-4">-->
      <!--          <clr-checkbox-wrapper>-->
      <!--            <input type="checkbox" clrCheckbox formControlName="allDay" [value]="'add-edit-dialog.allDay'"-->
      <!--                   name="allDay"/>-->
      <!--            <label>{{'add-edit-dialog.allDay' | translate}}</label>-->
      <!--          </clr-checkbox-wrapper>-->
      <!--        </div>-->
      <!--        <div class="clr-col-4"></div>-->
      <!--      </div>-->

      <!--      <div class="clr-row">-->
      <!--        <div class="clr-col-4"></div>-->
      <!--        <div class="clr-col-4">-->
      <!--          <clr-checkbox-wrapper>-->
      <!--            <input type="checkbox" clrCheckbox formControlName="repeat" [value]="'add-edit-dialog.repeat'" name="repeat"/>-->
      <!--            <label>{{'add-edit-dialog.repeat' | translate}}</label>-->
      <!--          </clr-checkbox-wrapper>-->
      <!--        </div>-->
      <!--        <div class="clr-col-4"></div>-->
      <!--      </div>-->
    </form>
  </div>
  <div class="modal-footer">
    <div class="clr-row">
      <div class="clr-col-2"></div>
      <div class="clr-col-8">
        <clr-button-group>
          <clr-button class="btn-primary" type="submit"
                      (click)="save()">{{'add-edit-dialog.save' | translate}}</clr-button>
          <clr-button class="btn"
                      (click)="isDialogVisible=false">{{'add-edit-dialog.cancel' | translate}}</clr-button>
        </clr-button-group>
      </div>
      <div class="clr-col-2"></div>
    </div>
  </div>
</clr-modal>
