<table class="table table-compact" (dblclick)="editIntern()" >
  <thead>
  <tr>
    <th>Praktykant</th>
    <th class="right">Firma</th>
    <th>Wydział</th>
    <th class="right">Kierunek</th>
    <th class="right">Rok</th>
    <th class="right">Ocena</th>
    <th class="right">Zaliczony</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Firma</td>
    <td>Nondisclosed countryside</td>
    <td>Sometimes</td>
    <td class>Not really</td>
    <td class>Not really</td>
    <td class>Not really</td>
    <td class>Not really</td>
  </tr>
  <tr>
    <td>Mothra</td>
    <td>Tropical island</td>
    <td>No</td>
    <td>No</td>
    <td>Only if you have a flashlight</td>
    <td>Only if you have a flashlight</td>
    <td>Only if you have a flashlight</td>
  </tr>
  <tr>
    <td>Oscar the Grouch</td>
    <td>Sesame Street</td>
    <td>No</td>
    <td>No</td>
    <td>No</td>
    <td>No</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr>
  <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr> <tr>
    <td>Cookie Monster</td>
    <td>Sesame Street</td>
    <td>Definitely yes</td>
    <td>Definitely yes</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
    <td>Only if you have no cookies</td>
  </tr>
  </tbody>
</table>
