<div class="content-container">
  <div class="clr-row">
    <div class="clr-col-4"></div>
    <div class="clr-col-4">
      <label></label>
      <input clrInput placeholder="My input" name="input"/>
    </div>
    <div class="clr-col-4"></div>
  </div>
</div>

<div class="content-container">
  <div class="clr-row">
    <div class="clr-col-4"></div>
    <div class="clr-col-4">
      <input clrInput placeholder="My input" name="input"/>
    </div>
    <div class="clr-col-4"></div>
  </div>
</div>

<div class="content-container">
  <div class="clr-row">
    <div class="clr-col-4"></div>
    <div class="clr-col-4">
      <input clrInput placeholder="My input" name="input"/>
    </div>
    <div class="clr-col-4"></div>
  </div>
</div>

<div class="content-container">
  <div class="clr-row">
    <div class="clr-col-4"></div>
    <div class="clr-col-4">
      <input clrInput placeholder="My input" name="input"/>
    </div>
    <div class="clr-col-4"></div>
  </div>
</div>

<div class="content-container">
  <div class="clr-row">
    <div class="clr-col-4"></div>
    <div class="clr-col-4">
      <input clrInput placeholder="My input" name="input"/>
    </div>
    <div class="clr-col-4"></div>
  </div>
</div>

<div class="content-container">
  <div class="clr-row">
    <div class="clr-col-4"></div>
    <div class="clr-col-4">
      <input clrInput placeholder="My input" name="input"/>
    </div>
    <div class="clr-col-4"></div>
  </div>
</div>
