<button class="btn btn-outline" (click)="addNewEvent()"> <clr-icon shape="plus"></clr-icon>

  {{"calendar.addNewEvent" | translate}}</button>

<!--<p-button icon="pi pi-check" class="btn btn-primary" type="submit" iconPos="right"-->
<!--          [disabled]="!(workScheduleForm.valid) || !isValidEndHour() || !isValidSumOfHours()"-->
<!--          (onClick)="onClickSave(false)"-->
<!--          [ngClass]="'buttons'" label="{{'workSchedule.dialog.save' | translate}}"></p-button>-->
<div class="content-container">
  <div class="clr-row">
    <div class="ui-grid-col-1"></div>
    <div class="ui-grid-col-10">
      <p-fullCalendar #calendar defaultView="dayGridMonth" [events]="events" [options]="calOptions"></p-fullCalendar>
    </div>
    <div class="ui-grid-col-1"></div>
  </div>
</div>

<app-add-edit-dialog [isDialogVisible]="showNewActivityDialog">3
</app-add-edit-dialog>
