<!--<p-dialog [responsive]="true" appendTo="body" [baseZIndex]="400" [maximizable]="true" [(visible)]="isDialogVisible"-->
<!--          [resizable]="true" [modal]="true" [draggable]="false"-->
<!--          header="{{'add-edit-dialog.header' | translate}}">-->
<!--  <form [formGroup]="addEditForm">-->
<!--    <div class="ui-grid-row">-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--      <div class="ui-grid-col-4">-->
<!--        {{"add-edit-dialog.name" | translate}}-->
<!--      </div>-->
<!--      <div class="ui-grid-col-6">-->
<!--        <input pInputText formControlName="name">-->
<!--      </div>-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--    </div>-->
<!--    <div class="ui-grid-row">-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--      <div class="ui-grid-col-4">-->
<!--        {{"add-edit-dialog.description" | translate}}-->
<!--      </div>-->
<!--      <div class="ui-grid-col-6">-->
<!--        <input pInputText formControlName="description">-->
<!--      </div>-->
<!--      <div class="ui-grid-col-2"></div>-->
<!--    </div>-->
<!--    <div class="ui-grid-row">-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--      <div class="ui-grid-col-4">-->
<!--        {{"add-edit-dialog.location" | translate}}-->
<!--      </div>-->
<!--      <div class="ui-grid-col-6">-->
<!--        <input pInputText formControlName="location">-->
<!--      </div>-->
<!--      <div class="ui-grid-col-2"></div>-->
<!--    </div>-->
<!--    <div class="ui-grid-row">-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--      <div class="ui-grid-col-4">-->
<!--        {{"add-edit-dialog.startDate" | translate}}-->
<!--      </div>-->
<!--      <div class="ui-grid-col-6">-->
<!--        <input pInputText formControlName="startDate">-->
<!--      </div>-->
<!--      <div class="ui-grid-col-2"></div>-->
<!--    </div>-->
<!--    <div class="ui-grid-row">-->
<!--      <div class="ui-grid-col-1"></div>-->
<!--      <div class="ui-grid-col-4">-->
<!--        {{"add-edit-dialog.stopDate" | translate}}-->
<!--      </div>-->
<!--      <div class="ui-grid-col-6">-->
<!--        <input pInputText formControlName="stopDate">-->
<!--      </div>-->
<!--      <div class="ui-grid-col-2"></div>-->
<!--    </div>-->
<!--    <p-footer>-->
<!--      <div class="ui-grid-row">-->
<!--        <div class="ui-grid-col-5"></div>-->
<!--        <div class="ui-grid-col-5">-->
<!--          <clr-button-group>-->
<!--            <clr-button class="btn-primary">{{'add-edit-dialog.save' | translate}}</clr-button>-->
<!--            <clr-button class="btn"-->
<!--                        (click)="isDialogVisible=false">{{'add-edit-dialog.cancel' | translate}}</clr-button>-->
<!--          </clr-button-group>-->
<!--        </div>-->
<!--        <div class="ui-grid-col-2"></div>-->
<!--      </div>-->
<!--    </p-footer>-->
<!--  </form>-->
<!--</p-dialog>-->

<p-toast key="tl"></p-toast>

<clr-modal [(clrModalOpen)]="isDialogVisible" [clrModalStaticBackdrop]="false" [clrModalClosable]="false"
           style="z-index: 999;">
  <h3 class="modal-title">{{header}}</h3>
  <div class="modal-body">
    <form id="addEditForm" clrForm [formGroup]="addEditForm">
      <div class="clr-row">
        <div class="clr-col-2">{{'common.name' | translate}}</div>
        <div class="clr-col-8">
          <input clrInput style="width: 100%;" [placeholder]="'add-edit-dialog.name' | translate"
                 formControlName="name">
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2">{{'common.description' | translate}}</div>
        <div class="clr-col-8">
          <input clrInput style="width: 100%;" [placeholder]="'common.description' | translate"
                 formControlName="description">
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2">
          {{'common.duration' | translate}}
        </div>
        <div class="clr-col-8">
          <select clrSelect name="options" formControlName="duration">
            <option value="0">15 min</option>
            <option value="1">30 min</option>
            <option value="2">45 min</option>
            <option value="3">1h</option>
            <option value="4">1h 30 min</option>
            <option value="5">2h 15 min</option>
          </select>
        </div>
        <div class="clr-col-2"></div>
      </div>
      <div class="clr-row">
        <div class="clr-col-2">{{'common.hostBy' | translate}}</div>
        <div class="clr-col-8">
          <!--          <input clrInput style="width: 100%;" [placeholder]="'common.hostBy' | translate"-->
          <!--                 formControlName="hostBy">-->
          <select clrSelect name="options" formControlName="hostBy">
            <div *ngFor="let userOption of users">
              <option [value]="userOption.id">{{userOption.firstName + ' ' + userOption.lastName}} </option>
            </div>
          </select>
        </div>
        <div class="clr-col-2"></div>
      </div>

      <div class="clr-row">
        <div class="clr-col-2">{{'common.location' | translate}}</div>
        <div class="clr-col-8">
          <input clrInput style="width: 100%;" [placeholder]="'common.location' | translate"
                 formControlName="location">
        </div>
        <div class="clr-col-2"></div>
      </div>
      <!--      <div class="clr-row">-->
      <!--        <div class="clr-col-2"></div>-->
      <!--        <div class="clr-col-8">-->
      <!--          <div class="input-wrapper">-->
      <!--            <input [clrDate] type="date" [placeholder]="'add-edit-dialog.startDate' | translate"-->
      <!--                   formControlName="stopDate">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="clr-col-2"></div>-->
      <!--      </div>-->

      <!--      <div class="clr-row">-->
      <!--        <div class="clr-col-2"></div>-->
      <!--        <div class="clr-col-8">-->
      <!--            <input [clrDate] type="date" [placeholder]="'add-edit-dialog.stopDate' | translate"-->
      <!--                   formControlName="stopDate">-->
      <!--        </div>-->
      <!--        <div class="clr-col-2"></div>-->
      <!--      </div>-->


      <!--      <div class="clr-row">-->
      <!--        <div class="clr-col-4"></div>-->
      <!--        <div class="clr-col-4">-->
      <!--          <clr-checkbox-wrapper>-->
      <!--            <input type="checkbox" clrCheckbox formControlName="allDay" [value]="'add-edit-dialog.allDay'"-->
      <!--                   name="allDay"/>-->
      <!--            <label>{{'add-edit-dialog.allDay' | translate}}</label>-->
      <!--          </clr-checkbox-wrapper>-->
      <!--        </div>-->
      <!--        <div class="clr-col-4"></div>-->
      <!--      </div>-->

      <!--      <div class="clr-row">-->
      <!--        <div class="clr-col-4"></div>-->
      <!--        <div class="clr-col-4">-->
      <!--          <clr-checkbox-wrapper>-->
      <!--            <input type="checkbox" clrCheckbox formControlName="repeat" [value]="'add-edit-dialog.repeat'" name="repeat"/>-->
      <!--            <label>{{'add-edit-dialog.repeat' | translate}}</label>-->
      <!--          </clr-checkbox-wrapper>-->
      <!--        </div>-->
      <!--        <div class="clr-col-4"></div>-->
      <!--      </div>-->
    </form>
  </div>
  <div class="modal-footer">
    <div class="clr-row">
      <div class="clr-col-2"></div>
      <div class="clr-col-8">
        <clr-button-group>
          <clr-button class="btn-primary" type="submit" form="loginForm" class="btn btn-primary"
                      (click)="save()">{{'add-edit-dialog.save' | translate}}</clr-button>
          <clr-button class="btn"
                      (click)="isDialogVisible=false">{{'add-edit-dialog.cancel' | translate}}</clr-button>
        </clr-button-group>
      </div>
      <div class="clr-col-2"></div>
    </div>
  </div>
</clr-modal>
